section{
    margin-top: 100px;
}

div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: green;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n)
{
    background-color: yellow;
}

div:nth-of-type(3n)
{
    background-color: rgb(51, 66, 101);
}

/*  */
/*  */
/*  *//*  */
/* Transform */

#one{
    transform: rotate(deg);
}

#two{
    transform: scale(0.5);
}